/* index.css */

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, #83d4ec, #f8f9fa);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
